<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms">
          <forms loginUrl="Login.aspx" slidingExpiration="false" cookieless="AutoDetect" timeout="20" protection="All" enableCrossAppRedirects="false">
            <credentials passwordFormat="Clear">              
              <user name="matrizadmin" password="admin"/>
              <user name="cholulaadmin" password="admin"/>
              <user name="bodyadmin" password="admin"/>
            </credentials>            
          </forms>          
        </authentication>    
    </system.web>  
    <location path="Orders.aspx">
      <system.web>
        <authorization>
          <deny users="?"/>
        </authorization>
      </system.web>
    </location>
  <location path="EditOrder.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
      <add name="CAMSA_DB" connectionString="Data Source=KARLOSLAP\SQLEXPRESS;Initial Catalog=CAMSA;Integrated Security=SSPI;" />
    </connectionStrings>
    <appSettings>
      <add key="Pagination" value="15" />
      <add key="TimepPagination" value="4" />
      <add key="SmsTxt" value=""/>
      <add key="DoaminIDSMS" value="demo"/>
      <add key="LoginSMS" value="gevzco"/>
      <add key="PasswordSMS" value="phpkxxgd"/>
      <add key="CountryCode" value="52"/>
      <add key="MatrizAPIKey" value="6e94775cc8f1e500101f06186820358191096eff"/>
      <add key="CholulaAPIKey" value="3cacb609915cbae1108adf1869b89f1d8a040a0e"/>
      <add key="BodyShopAPIKey" value="3efa5fe87139257fc735eff8efa991608d6ce3cd"/>
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
      <security>
        <requestFiltering allowDoubleEscaping="true"/>
      </security>
    </system.webServer>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
