/*
 * 
 *  TAGS 
 *
 */
body 
{
    background-color:rgb(31,73,125); 
    font-family:Calibri;   
}

select
{
	width:100%;
	height:31px;
	padding: 4px;
	margin-top:5px;
}

table
{
    border:solid 5px rgb(101, 126, 157);; 
    width:100%;   
    font-size:small;
}

table thead th
{
    background-color:rgb(55, 96, 145);  
    color:White; 
}

table tr
{
    height:20px;
}

table tbody
{
    color:rgb(0, 32, 96);
    text-align:center;    
}


/* 
 *
 *   CLASSES
 *
 */  

/* Button - Base*/
div.button /*Overriden*/
{
    background-color:rgb(97,173,233);
    width:95px;
    height:40px;
    padding: 3px;
    text-align:center;
    position:relative; 
    color:White;
    font-weight:bold;   
    float:left;
    margin-top:20px;
}

div.button.cancel
{
    background-color:rgb(255, 83, 83);
}

div.button.active
{
    opacity:1;    
}

div.button.inactive
{
    opacity:0.3;    
}
    
div.button.active:hover
{
    opacity:0.7;    
    cursor:pointer;   
}

div.button.inactive.load
{
    /*background-image: url(../Images/ajax_loader.gif);*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.button div
{
    padding-top:12px;
}


/* Rows - Base */
div.row
{
    height:50px;
    width:auto;
    clear:both;
}

/* Fill - Utils*/
div.fill
{
    background-color:black;
    width:100%;
    height:35px;
}

/* Titles */
div.headerTitle /*Overiden*/
{
    color:rgb(147,205,221);
    font-weight:bolder;
    font-size:25px;
    margin-top:53px;
}

.headerpanel
{
    height:100%;    
    float:left;    
}

.pair
{
    background-color:rgb(219, 229, 241);
}

.odd
{
    background-color:rgb(184, 204, 228);    
}

table.hidden
{
    border:0;
}

table tbody td.selected
{
    background-color:Yellow;
}


table.nested
{
    border:0;    
}

table tbody td.highlight
{
    font-weight:bolder;
    font-size:20px;
}

table tbody td.badhighlight
{
    font-weight:bolder;
    font-size:20px;
    color:rgb(192, 0, 0);    
}

div.subtitle
{
    color:rgb(147,205,221);
    font-weight:bolder;        
    font-size:18px;    
    float:left;
    margin-top:25px;
    margin-bottom:15px;
    width:100%;
}

div.headerTitle.subtitle
{
    float:right;
}

div.summarypanel
{    
    width:70%;
    height:300px;
    float:left;    
    margin-left:15%;    
}

div.summarypanel table.medium
{
    width:60%;
}

div.summarypanel table.small
{
    width:35%;
}

div.summarypanel table
{
    border:0;
}

div.summarypanel table thead, div.summarypanel table tbody
{
    color:White;
}

div.summarypanel table tbody tr
{
    height:auto;        
}

div.summarypanel table tbody td.rowtitle
{    
    text-align:left;
}

div.summarypanel table tr.odd
{
    background-color:rgb(41, 72, 109);
}

div.summarypanel table th.odd
{
    background-color:rgb(41, 72, 109);
}

div.summarypanel table th.odd.underline
{
    border-bottom: solid 1px red;
}

div.summarypanel table tr.pair
{
    background-color:rgb(34, 60, 92);
}

/*
 *
 * ID's
 *
*/

#MainContent
{
    width:97%;
    height:100%;
    position:absolute;
    padding:10px;
}

#DvHeader
{    
    width: 99%;
    height: 80px;    
}

#DvMainTitle.headerpanel
{        
    width:60%;
    text-align:center;    
}

#DvLogo.headerpanel
{    
    width:20%;
}

#DvSubTitle.headerpanel
{    
    width:20%;
    text-align: right;
}

#DvBody
{    
    width:100%;
    height:auto;
    margin-top:25px;    
}

table#TbData thead th, table#TbData tbody td
{
    padding-left:4px;    
    padding-right:4px;
}

div#DvMessages
{
    background-color:Red;
    border-style:solid;
    border-width:1px;
    padding:5px;
    border-color:red;
    background-color:#FFBFBF;
}