div.editbody
{
    margin-top:30px;
    margin-left:90px;
}

div.row
{    
    width:500px;
    height:26px;
    padding:7px 0px 7px 0px;
}

div.inputdescription
{    
    width:40%;     
    float:left;    
    margin-top:3px;
    color:White;    
}

div.input
{    
    width:60%;    
    float:left;        
}

div.input input[type="text"]
{
    width:200px;
}

div.editbody
{    
    margin-left:90px;
}