textarea
{
    float:left;
}

div.editbody
{
    margin-top:30px;
    margin-left:90px;
}

div.row
{    
    width:500px;
    height:26px;
    padding:7px 0px 7px 0px;
}

div.inputdescription
{    
    width:200px;
    float:left;    
    margin-top:3px;
    color:White;    
}

div.input
{    
    width:60%;    
    float:left;        
}

div.input input[type="text"]
{
    width:200px;
}

div.editbody
{    
    margin-left:90px;
}


div.row.actions
{    
    width:100%;
    height:46px;        
}

div.row.smsbox
{
    height:73px;
    width:100%;
}

div.row.smsbox div.button
{
    margin-left:5px;
    margin-top:2px;
}

div.row.smsbox div.input
{
    width:533px;
}

div.button
{
    margin-top:0;
    float:right;
    margin-left:30px;
}